<div class="jumbotron">
  <h1>Hi, schön dich zu sehen!</h1>
  		<p>Jetzt anmelden: </p>
  		
  		
  		
  		
  	 <% if user_signed_in? %>
          # do something
     <% else %>
  		<p><%= link_to "Neues Konto", new_user_registration_path, class:"btn btn-primary 		btn-lg" %>   </p>
  		<%= link_to "Sign in", new_user_session_path , class:"btn btn-primary 		btn-lg"%>
  		
  		
  		<% end %>  
 
  
</div>